body {
    width: 95%;
    margin: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


/* Forum page starts*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #e2642a;
    transition: 0.5s;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forumButton {
    text-align: center;
}

input[type=submit]:hover {
    background-color: #01656c;
}

.container {
    border-radius: 5px;
    background-color: #ec542ec2;
    padding: 20px;
    margin: 20px;
    color: white;
}

.containerInput {
    border-radius: 5px;
    background-color: #01656cd1;
    padding: 20px;
    margin: 20px;
    color: white;
}

.fromDB {
    background-color: #e2642a;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}


/* Forum Page ends */


/* Slide show begins */

.slideContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.slider {
    display: block;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 10px;
    background-color: white;
    overflow: hidden;
}

.graffitis {
    width: 100%;
    padding-top: 66%;
}

.graffiti2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lemonchiffon;
    transition: 1s;
    opacity: 0;
}

.graffiti2.active {
    opacity: 1;
}

.graffiti2 img {
    width: 100%;
    height: auto;
}

.dugme {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #333;
    opacity: .8;
    cursor: pointer;
}

#slideshow_dugme_left::after {
    top: 50%;
    right: 50%;
    transform: translate(25%, -50%) rotate(-45deg);
}

.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slideshow_dugme {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    opacity: 1;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.slideshow_dugme.active {
    background-color: #fff;
    border: 1px #333 solid;
}

@media screen and (max-width: 640px) {
    .dugme {
        height: 40px;
        width: 40px;
    }
    .slideshow_dugme {
        height: 12px;
        width: 12px;
    }
}


/* slide show ends */


/* Navigation Bar  Starts*/

#menu {
    background: #000000;
    color: #FFF;
    height: 55px;
    padding-left: 18px;
}

#menu ul,
#menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#menu ul {
    width: 100%;
}

#menu li {
    float: left;
    display: inline;
    position: relative;
}

#menu a {
    display: block;
    line-height: 55px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

#menu a.dropdown-arrow:after {
    content: "\23F7";
    margin-left: 5px;
}

#menu li a:hover {
    color: black;
    background: #F2F2F2;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 55px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 55px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.subMeni {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
}

#menu ul.subMeni li {
    display: block;
    width: 100%;
}

#menu ul.subMeni a {
    color: #FFFFFF;
    font-size: 16px;
}

#menu li:hover ul.subMeni {
    display: block
}

#menu ul.subMeni a:hover {
    background: #F2F2F2;
    color: #444444;
}


/* Navigation Bar  Ends*/


/* Header starts */

.animation {
    position: relative;
    animation-name: movingText;
    animation-duration: 4s;
    animation-iteration-count: 2;
}

@keyframes movingText {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 200px;
        top: 0px;
    }
    50% {
        left: 0px;
        top: 0px;
    }
    75% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.animation2 {
    position: relative;
    animation-name: movingText2;
    animation-duration: 4s;
    animation-iteration-count: 2;
}

@keyframes movingText2 {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 0px;
        top: 0px;
    }
    50% {
        top: 100px;
        left: 0px;
    }
    75% {
        left: 0px;
        top: 0px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

.header {
    background-image: url(https://people.rit.edu/az4739/ISTE240/project1/Media/bacground2.jpg);
    background-color: black;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    width: auto;
    height: 600px;
    display: flex;
}

.headerText {
    font-size: 11vw;
    text-align: center;
}

.TitleText {
    font-size: 5vw;
    float: right;
    color: #e636f7;
}


/* Header ends */


/* content start */

.content {
    padding: 1em;
    margin: 1em;
    border-style: solid;
    border-right: black;
    border-top: black;
    border-bottom: black;
    border-color: #ec552e;
    border-width: 50px;
}

p {
    padding: 20px;
}

.picture-content {
    padding: 1em;
    margin: 1em;
    border-style: solid;
    border-color: #01646c;
    border-width: 50px;
}

.graffiti {
    width: 100%;
    height: auto;
}

.PicLeft {
    float: left;
    width: 20vw;
    height: auto;
    margin: 15px;
}

.PicRight {
    float: right;
    width: 20vw;
    height: auto;
    margin: 15px;
}

.PicDesc {
    padding: 1vw;
    margin: 1vw;
    border-style: solid;
    border-top: black;
    border-left: black;
    border-right: black;
    border-color: #ec552e;
    border-width: 50px;
    background-color: white;
}


/* content end */


/* page link start */

.links {
    display: flex;
}

.boxGreen {
    width: calc(100% / 6);
    height: 15vw;
    display: inline-block;
    vertical-align: top;
    background-color: #76fb84;
    text-align: center;
    margin: 2%;
    padding: 20px;
    position: relative;
}

.boxGreen:hover {
    background-color: #01646c;
}

.boxGreen h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.boxGreen:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.boxPink {
    width: calc(100% / 6);
    height: 15vw;
    display: inline-block;
    vertical-align: top;
    background-color: #e636f7;
    text-align: center;
    margin: 2%;
    padding: 20px;
    position: relative;
}

.boxPink:hover {
    background-color: #01646c;
}

.boxPink h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.boxPink:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.boxOrange {
    width: calc(100% / 6);
    height: 15vw;
    display: inline-block;
    vertical-align: top;
    background-color: #ec552e;
    text-align: center;
    margin: 2%;
    padding: 20px;
    position: relative;
}

.boxOrange:hover {
    background-color: #01646c;
}

.boxOrange h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.boxOrange:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.boxYellow {
    width: calc(100% / 6);
    height: 15vw;
    display: inline-block;
    vertical-align: top;
    background-color: #deff28;
    text-align: center;
    margin: 2%;
    padding: 20px;
    position: relative;
}

.boxYellow:hover {
    background-color: #01646c;
}

.boxYellow h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.boxYellow:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.boxBlue {
    width: calc(100% / 6);
    height: 15vw;
    display: inline-block;
    vertical-align: top;
    background-color: #0aa0f5;
    text-align: center;
    margin: 2%;
    padding: 20px;
    position: relative;
}

.boxBlue:hover {
    background-color: #01646c;
}

.boxBlue h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.boxBlue:hover h3 {
    bottom: 49%;
    opacity: 1;
}

a {
    text-decoration: none;
}

.content span {
    color: #ec552e;
    font-size: 7vw;
    float: right;
}


/* page link end */

@media screen and (max-width: 600px) {
    #menu {
        position: relative
    }
    #menu ul {
        background: #111;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }
    #menu ul.subMeni {
        width: 100%;
        position: static;
    }
    #menu ul.subMeni a {
        padding-left: 30px;
    }
    #menu li {
        display: block;
        float: none;
        width: auto;
    }
    #menu input,
    #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }
    #menu input {
        z-index: 4
    }
    #menu input:checked+label {
        color: white
    }
    #menu input:checked+label:before {
        content: "\00d7"
    }
    #menu input:checked~ul {
        display: block
    }
}